@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.cdnfonts.com/css/selima');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
*{
    margin: 0;
    padding:0;
}

html{
    scroll-behavior:smooth;
}
                                    /* NAV */

body{
    /* background: olive; */
    overflow-x: hidden;
}

.first{
    position: relative;
    width: 100%;
    overflow:hidden ;
    min-height: 100vh;
}

.logo{
    background-color: black;
    width: 13%;
    height: auto;
    margin:3%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(0, 0, 0) 0px 25px 50px -12px;
}
.logo img{
    width:100% ;
    height:100%;
    border: 0.4vw solid white;
    border-radius:1vw;
}
.navbar{
    background:url(background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    top:0;
    justify-content: space-between;
    z-index: 10;
}

.nav-list{
    width: 60%;
    padding: 0 2% 0 0;
    display: flex;
    height: auto;
    float:right;
    display: flex; 
    /* align-items: center; */
}

.nav-list li{
    height: 20%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    margin: 4% 1%;
    border: 1.7px solid white;
    list-style: none;
    box-shadow: rgb(0 0 0 / 25%) 0px 25px 50px -12px;
}

.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 2vw;
    font-family: 'Ubuntu', sans-serif;
}

.nav-list li a:hover{ 
    color: rgb(27, 24, 24);
}



                           /* <section class="background"> */



.guavavideo{
    filter: blur(4px) ;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: #fe6e89;
    overflow:hidden ;
    align-items: center;
    justify-content: center;
}

#backvideo{
    position: inherit;
    width: 100%;
}


                            /* <welcome> */

.first .welcome{
    display: flex;
    filter: none;
    width: 45%;
    height: 20vw;
    left: 27.5%;
    margin: 0 0 0 0;
    top: 45%;
    position: relative;
    border: 2px solid rgb(255, 255, 255);
    z-index: 10;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    backdrop-filter: brightness(0.6) ;
}

#welcometext{
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 3.14vw;
    font-family: 'Selima', sans-serif;                                            
}
#welcometext1{
    color: #4d9f5b;
    font-weight: 700;
    font-size: 3.88vw;
    font-family: 'Selima', sans-serif;                                            
}


                           /* <section class="section"> */





.section1{ 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vw;
    background: #fff;
}
.section2{ 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vw;
    background: #fff;
}
.inall{
    border-radius: 5vw;
    background-position:center ;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px,rgba(0, 0, 0, 0.25) 0px 25px 50px -12px
}
.taste{
    width: 70%;
    background-size: cover !important;
    height: 70%;
    background: url(taste.png);
}

.Seasons{
    width: 45%;
    height: 60%;
    margin: 2%;
    background: url(Seasons.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Nutritional {
    width: 45%;
    margin: 2%;
    height: 60%;
    background: url(Nutritional.png);
    background-repeat: no-repeat;
    background-size: cover}

.Current{    width: 70%;
    height: 70%;
    background: url(Current.png);    
    background-repeat: no-repeat;
    background-size: contain;}

.Applications{
    width: 70%;
    height: 70%;
    background: url(applications.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.Geography{
    width: 70%;
    height:65%;
    background: url(Geography.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.text-big{
    position: relative;
    font-size: 5vw;
    z-index: 11111;
    background: #007179;
    width: fit-content;
    padding: 0.6% 3%;
    border-radius:1.7vw !important;
    font-family: 'Fira Sans', sans-serif;
}

.taste .text-big{
    top: 8%;
    left: 25.05%;
    font-size: 3.8vw;
}
.Seasons .text-big{
    top: 8%;
    left: 16%;
    font-size: 3.5vw;
}
.Nutritional .text-big{
    top: 8%;
    left: 21%;
    font-size: 3.5vw;
}
.Current .text-big{
    top: 10%;
    font-size: 3.9vw;
    left: 34%;
}
.Applications .text-big{
    top: 10%;
    left: 35%;
    font-size: 3.8vw;
}
.Geography .text-big{
    top: 10%;
    left: 27%;
    font-size: 3.8vw;
}


.text-small{
    position: relative;
    font-size: 2.49vw;
    z-index: 11111;
    background: rgba(255, 255, 255, 0.651);
    width: fit-content;
    padding: 0.6% 1.5%;
    border-radius: 2vw;
    font-family: 'Red Hat Display', sans-serif;
}

.taste .text-small{
    top: 10%;
    margin: 2%;
}
.Seasons .text-small{
    top: 15%;
    margin: 0% 4%;
}
.Nutritional .text-small{
    top: 15%;
    margin: 0% 4%;
}
.Current .text-small{
    top: 20%;
    margin: 0% 3%;
}
.Applications .text-small{
    top: 20%;
    margin: 0% 3%;
}
.Geography .text-small{
    top: 20%;
    margin: 0% 3%;
}



















/* .text-small{
    font-size: 1.8vw;
    position: absolute;
} */














.contact{
    background-color: hsl(330, 74%, 62%);
    height: 833px;
}
.text-center{

    text-align: center;
    padding-top: 30px;
   font-family: 'Ubuntu', sans-serif;
       font-size: 35px;
}

.form{
    max-width: 62%;
    margin: 25px auto;
}

.form-input{
    margin: 14px 0;
    padding: 5px 13px;
    width: 100%; 
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.text-footer{
    text-align: center;
    padding: 3vw 0;
    font-size: 2.3vw;
   font-family: 'Ubuntu', sans-serif; 
   display: flex;
   justify-content: center;
   color: rgb(0, 0, 0);
   
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}